@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 30px;
}

li {
  list-style-type: none;
}

ul {
  display:flex;
}

.purple {
  color: #7342d6;
}

.white {
  color: #ffffff;
}

.container {
  padding: 50px 0;
  
}

h1,h3{
    color: #242424;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    font-weight: 700;  
}

h6 {
    font-size: 12px;
    font-weight: 700;  
    color: #8f8e90;
    text-align: left;
    margin-top: 24px;
}

.lan__header--para {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}


.nav__row {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-width: 24px;
  border: 3px solid;
  margin: 12px auto;
}

.nav__header {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  padding: 4px 8px;
}

.nav__header--wrapper {
    font-weight: 700;
    font-size:  16px;
    color: blue;
}

.nav__link--anchor{
    text-decoration: none;
    margin: 0 12px;;
    font-weight: 700;
     
}

.nav__link--anchor-primary {
    padding: 4px 8px;
    border-radius: 12px;
    color: #ffffff;
    transition: all 0.3s ease;    
}

.nav__link--anchor-primary:hover{
    text-transform: lowercase; 
    background-color: #d7dcda; 
}

.nav__links {
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 text-decoration: none;
 margin-top: 30px;
}

.nav__link {
  margin: 0 12px;
  padding: 8px 12px;
  color: #242424;
  font-weight: 700;
  list-style-type: none;
}

.btn__purple {
  background-color: #7342d6;
}

.btn__link {
  width: 150px;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 24px;
  border: 4px black;
 
}

 #initpage {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px; 
}


.landing__row {
  width: 100%;
  max-width: 1200px;
   margin: 0 auto;
}
 
 .landing {
  flex: 1;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
}

.lan__img {
  flex: 1;
}

.lan__img--width {
  width: 100%;
}

.lan__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 40%;
}

.lan__logo--wrapper {
  max-width: 100%; 
  height: 30px;;
  margin-top: 4px;
}

.intext {
  border: 2px solid #07050b;
  border-radius: 24px;
  padding: 8px 16px;
  width: 350px;
  height: 38px;
}

.int__form {
  width: 100%;
  height: 80px;
  margin-top: 32px;
  margin-bottom: 24px;
  padding-top: 6px;
  border:#07050b;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FEATURES SECTION */

#features {
  padding: 80px 0;
}

.feature__header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0;
}

.feat__h6 {
  font-size: 12px;
  font-weight: 700;
  color: #8f8e90;
  text-align: center;
  margin-top: 24px;
}

.faeture__header--para {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
  color: #5a5a5a;
  text-align: center;
  max-width: 50px
}

.features__row {
  width: 100%;
  max-width: 850px;;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}    


.secure {
  display: flex;
  flex-direction: row;
  width: calc(100% / 3);
  padding-bottom: 24px;
}


.feat__img--wrapper {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  flex: start;
}

.feat__text {
  width: 250px;
}

/* DESIGN AND DEVELOPMENT SECTION */

#desdev {
 width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px; 
}

.desdev__row {
  flex: 1;
  display: flex;
  flex-direction: row; 
}

.desdev_desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.devdes__h6 {
  font-size: 12px;
  font-weight: 700;
  color: #8f8e90;
  text-align: left;
  margin-top: 24px;
}

.desdev_img {
   flex: 1;
}

.desdev__img--width {
  width: 100%;
}

.devdes__btn {
  margin-top: 16px;
}

 /*  GET STARTED SECTION */

#getstarted {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.getstarted__row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.getstarted__desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.getstarted_img {
   flex: 1;
   margin: 0 auto;
   padding: 24px;
   
}

.getstarted_img--wrapper {
  transform: scale(.6); 
}

.getstarted__list {
  display: flex;
  flex-direction: column;;
}

.getstarted__text {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.getstarted_heading {
    
}

.get__sequence {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.get__register {
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 24px;
}

.get__register--font {
    font-size: 24px;
    font-weight: 600;
    color: #0f0e0e;
    line-height: 1.5;
    margin-top: 8px;
}

/* VALUES SECTION */

#values .values__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.values__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.values__title {
     margin-top: 16px;
    margin-bottom: 32px;
}

.values__img {
    width: 100%;
}


.value__name {
    margin-left: 12px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.values__prin {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.values__symbol{
   border-radius: 50%;
   transform: scale(.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__lit--wrapper {
    display: flex;
    align-items: center;
}
 
.values__figure--background1 {
    background-color: #e4b9da;  
}

.values__figure--background2 {
    background-color: #d7dcda;  
}

.values__desc {
    width: 250px%;
    margin-top: 16px;
    line-height: 1.625;
}

#pricing {

}

.pricing__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 24px 0;
}

.pricing__header--para {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    max-width: 650px
}

.pricing__plans {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.pricing__plan {
  position: relative;
    width: 100%;
    max-width: 350px;
    border: 1px solid #8c8c8d; 
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.pricing__top--border {
     
    width: 100%;
    margin-bottom: 16px;
}

.pricing__top--stripe {
  flex: 1;
    position: absolute;
    width: 100%;
    max-width: 350px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.pricing__top--bordercolor1 {
    border-top: 4px solid #7342d6;
}

.pricing__plan--title {
    font-weight: bold;
    line-height: 1.625;
    font-size: 26px;
    color: #0f0e0e;
    margin-bottom: 16px;
}

.pricing__plan--price {
    font-size: 36px;
    font-weight: 600;
    color: #0f0e0e;
    margin-bottom: 8px;
}

.pricing__duration {
    font-weight: bold;
    line-height: 1.625;
    color: #8f8e90;
    margin-bottom: 16px;
}

.pricing_plan--structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plan--desc {
    font-size: 14px;
    line-height: 1.625;
    color: #5a5a5a;
    text-align: left;
    margin-bottom: 16px;
}

.pricing__plan--middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.pricing__button {
  box-sizing: border-box;
    margin: 24px 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pricing__plan--backgrundcolor2 {
    background-color: rgb(80, 100, 187)  ;
}

.pricing_font--color1 {
    color: #0f0e0e;
}

.pricing_font--color2 {
    color: #ebe5e5;
}

.btn__background_pink {
  background-color:#e96ca7;
}

.pricing__top--bordercolor2 {
    border-top: 4px solid #ec7aaf;
} 

#testimonial {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px;
}

.testimonial__row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonial__img 
{   flex: 1;
   
}

.testimonial__img--wrapper {
    width: 100%;
    margin: 0 auto;
}

.testimonial__header {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.testimonial__rate {
  margin: 18px 0;
  color: #f3b519;
}

.testimonial__h2 {  
    padding-bottom: 4px;  
    color: #0f0e0e;
}

.testimonial__para--desc {
    font-size: 16px;
    line-height: 1.625;
    color: #5a5a5a;
    text-align: left;
    margin-top: 16px;
}

.testimonial__h3 {  
    padding-top: 4px;
    padding-bottom: 4px;  
    color: #0f0e0e;
}

.testimonial__bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.testimonial__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.testimonial__pic--name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #0f0e0e;
}

.testimonial__name--title {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}


.testimonial__picture {
  width: 100%;
  transform: scale(1.12);
  padding-top: 2px;
}

.testimonial__button {
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}


.testimonial__btn--link {
  width: 100%;
  transform: scale(2.1);
  align-items: center;
  color: black;
  background-color: rgba(47, 45, 45, 0.167);
  border-radius: 32px;
  border:#d7dcda
  
}

.divider {
    margin: 8px 0;
    border-right-width: 1px;
    background-color: #d7dcda;
    width: 600px;  
}

.testimonial__btn--link:hover{
    transform: scale(2.5);
    background-color: #d7dcda; 
}

#getstart {
    padding: 96px 0;
    width: 100%;
    margin:24px auto;
     max-width: 1024px;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstart__row {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getstart__lit {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2; 
}

.getstart__header {
    text-align: center;
    width: 100%;
    max-width: 650px;
    margin-right: 32px;
}

.getstart__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.getstart__btn--link {
  width: 200px;
  color: white;
  box-shadow:  rgb(63, 54, 54);
  margin-right: 38px;
  transition: all 300ms ease;
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 24px;
  border: 2px rgba(243, 232, 232, 0.885);
 
}
	
.getstart__btn--link:nth-child(1) {
    background: #f56565;    
}

.getstart__btn--link:nth-child(2) {
     background: rgb(89, 30, 209);  
}

#footer {
    width: 100%;
    max-width: 1280px;
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.foot__main { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
         
.foot__main--title {
    font-weight: 700;
    color: #f7fafc;
    margin-bottom: 16px; 
    color: rgb(247, 250, 252);
    line-height: 1.5;
}

.foot__tag {
    width: 100%;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    background-color: rgb(100, 21, 255);
    
}

.foot__tag:hover{
    display: inline;
    text-decoration: none;       
}

.foot__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0px;
    background: rgb(116, 44, 255);
}

.footer__row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.foot__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot__logo--wrapper {
    width: 30px;
    height: 30px;
    color:#7342d6;
    background: white;
}

.foot__logo--text {
    font-size: 20px;
    color: rgb(247, 250, 252);
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}


.foot__copyright {
    color: rgb(162, 165, 169);
    font-weight: 500;
}

.foot__icon {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

.foot__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (max-width: 1024px) {
    .getstart__row {
        flex-direction: column;
    }
}

