@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 40px;
  height: 40px;
}

li {
  list-style-type: none;
}

ul {
  display:flex;
}

.purple {
  color: #7342d6;
}

.white {
  color: #ffffff;
}

.container {
  padding: 50px 0;
  
}

h1,h3{
    color: #242424;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    font-weight: 700;  
}

h6 {
    font-size: 12px;
    font-weight: 700;  
    color: #8f8e90;
    text-align: left;
    margin-top: 24px;
}

.lan__header--para {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.header {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__row {
  padding-top: 32px;
  display: flex;
  justify-content: space-between; 
}

.nav__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  padding: 0 24px;
}

.nav__header--wrapper {
    font-weight: 900;
    font-size:  24px;
    margin-left: 12px;
    padding-bottom: 2px;  
}

.nav__link--anchor{
    text-decoration: none;
    margin: 0 12px;;
    font-weight: 700;  
}

.nav__link--anchor-primary {
    padding: 4px 8px;
    border-radius: 12px;
    color: #2d1abb;
    transition: all 0.3s ease;    
}

.nav__link--anchor-primary:hover{
    text-transform: lowercase; 
    background-color: #9871e7; 
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1; 
    transition: 0.5s;
}

.nav__link li {
  list-style-type: none;
}

.nav__link li a {
   color: #000;
    text-decoration: none;
    display: block; 
    padding: 40px 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;  
}

.nav__link li a:hover {
    text-transform: lowercase; 
    background-color: #b8abea;
    padding: 12px 16px;
    border-radius: 12px;
    color: #5a0fd4;
}
/*  nav__link Bar */
.navchk {
    position: relative;
    width: 30px;
    height: 4px;
    background: #6b6089;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.navchk::before,
.navchk::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #a1a1ac;
    border-radius: 10px;
    transition: 0.3s;
}

.navchk::before {
    top: -10px;
    width: 20px;
}

.navchk::after {
    top: 10px;
    width: 25px;
}

.toggle__nav {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.navchk, 
.toggle__nav  {
      display: none; 
}

.toggle__nav:checked ~ .navchk {
    background: transparent;
}

.toggle__nav:checked ~ .navchk::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.toggle__nav:checked ~ .navchk::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
 
.toggle__nav:checked ~ .nav__link {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}     


.btn__purple {
  background-color: #5411db;
}

.btn__link {
  background-color: #5411db;
  width: 150px;
  color: white;
  padding: 12px 12px;
  font-size: 18px;
  border-radius: 24px;
  border: 1px black;
 
}

 #initpage {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px; 
}


.landing__row {
  width: 100%;
  max-width: 1200px;
   margin: 0 auto;
}
 
 .landing {
  flex: 1;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
}

.lan__img {
  flex: 1;
}

.lan__img--width {
  width: 100%;
}

.lan__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 40%;
}

.lan__logo--wrapper {
  max-width: 100%; 
  height: 30px;;
  margin-top: 4px;
}

.intext {
  border: 2px solid #07050b;
  border-radius: 24px;
  padding: 8px 16px;
  width: 350px;
  height: 38px;
}

.int__form {
  width: 100%;
  height: 80px;
  margin-top: 32px;
  margin-bottom: 24px;
  padding-top: 6px;
  border:#07050b;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FEATURES SECTION */

#features {
  padding: 80px 0;
}

.feature__header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0;
}

.feat__h6 {
  font-size: 12px;
  font-weight: 700;
  color: #8f8e90;
  text-align: center;
  margin-top: 24px;
}

.faeture__header--para {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
  color: #5a5a5a;
  text-align: center;
  max-width: 50px
}

.features__row {
  width: 100%;
  max-width: 850px;;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}    


.secure {
  display: flex;
  flex-direction: row;
  width: calc(100% / 3);
  padding-bottom: 24px;
}


.feat__img--wrapper {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  flex: start;
}

.feat__text {
  width: 250px;
}

/* DESIGN AND DEVELOPMENT SECTION */

#desdev {
 width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px; 
}

.desdev__row {
  flex: 1;
  display: flex;
  flex-direction: row; 
  margin-bottom: 24px;
}

.desdev_desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.devdes__h6 {
  font-size: 12px;
  font-weight: 700;
  color: #8f8e90;
  text-align: left;
  margin-top: 24px;
}

.desdev_img {
   flex: 1;
}

.desdev__img--width {
  width: 100%;
}

.devdes__btn {
  margin-top: 16px;
}

 /*  GET STARTED SECTION */

#getstarted {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.getstarted__row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.getstarted__desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.getstarted_img {
   flex: 1;
  width: 100%;
  max-width: 400px;
 margin: 0 auto;
}

.getstarted_img--wrapper {
  transform: scale(.6); 
}

.getstarted__list {
  display: flex;
  flex-direction: row;;
}
.get__step--para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

.getstarted__text {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

 
.get__sequence {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cbd5e0;;
}


.get__register {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.get__register--font {
    font-size: 24px;
    font-weight: 600;
    color: #0f0e0e;
    line-height: 1.5;
    margin-top: 8px;
}

/* VALUES SECTION */

#values .values__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.values__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.values__title {
     margin-top: 16px;
    margin-bottom: 32px;
}

.values__img {
    width: 100%;
}


.value__name {
    margin-left: 12px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.values__prin {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.values__symbol{
   border-radius: 50%;
   transform: scale(.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__lit--wrapper {
    display: flex;
    align-items: center;
}
 
.values__figure--background1 {
    background-color: #e4b9da;  
}

.values__figure--background2 {
    background-color: #d7dcda;  
}

.values__desc {
    width: 250px;
    margin-top: 16px;
    line-height: 1.625;
}

/* PRICING SECTION */

.pricing__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 24px 0;
}

.pricing__header--para {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    max-width: 650px
}

.pricing__plans {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.pricing__plan {
  position: relative;
    width: 100%;
    max-width: 350px;
    border: 1px solid #8c8c8d; 
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.pricing__top--border {
     
    width: 100%;
    margin-bottom: 16px;
}

.pricing__top--stripe {
  flex: 1;
    position: absolute;
    width: 100%;
    max-width: 350px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.pricing__top--bordercolor1 {
    border-top: 4px solid #7342d6;
}

.pricing__plan--title {
    font-weight: bold;
    line-height: 1.625;
    font-size: 26px;
    color: #0f0e0e;
    margin-bottom: 16px;
}

.pricing__plan--price {
    font-size: 36px;
    font-weight: 600;
    color: #0f0e0e;
    margin-bottom: 8px;
}

.pricing__duration {
    font-weight: bold;
    line-height: 1.625;
    color: #8f8e90;
    margin-bottom: 16px;
}

.pricing_plan--structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plan--desc {
    font-size: 14px;
    line-height: 1.625;
    color: #5a5a5a;
    text-align: left;
    margin-bottom: 16px;
}

.pricing__plan--middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.pricing__button {
  box-sizing: border-box;
    margin: 24px 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pricing__plan--backgrundcolor2 {
    background-color: rgb(80, 100, 187)  ;
}

.pricing_font--color1 {
    color: #0f0e0e;
}

.pricing_font--color2 {
    color: #ebe5e5;
}

.btn__background_pink {
  background-color:#e96ca7;
}

.pricing__top--bordercolor2 {
    border-top: 4px solid #ec7aaf;
} 

#testimonial {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px;
}

.testimonial__row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonial__img 
{   flex: 1;
   
}

.testimonial__img--wrapper {
    width: 100%;
    margin: 0 auto;
}

.testimonial__header {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.testimonial__rate {
  margin: 18px 0;
  color: #f3b519;
}

.testimonial__h2 {  
    padding-bottom: 4px;  
    color: #0f0e0e;
}

.testimonial__para--desc {
    font-size: 16px;
    line-height: 1.625;
    color: #5a5a5a;
    text-align: left;
    margin-top: 16px;
}

.testimonial__h3 {  
    padding-top: 4px;
    padding-bottom: 4px;  
    color: #0f0e0e;
}

.testimonial__bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.testimonial__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.testimonial__pic--name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #0f0e0e;
}

.testimonial__name--title {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}


.testimonial__picture {
  width: 100%;
  transform: scale(1.12);
  padding-top: 2px;
}

.testimonial__button {
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}


.testimonial__btn--link {
  width: 100%;
  transform: scale(2.1);
  align-items: center;
  color: black;
  background-color: rgba(47, 45, 45, 0.167);
  border-radius: 32px;
  border:#d7dcda
  
}

.divider {
    margin: 8px 0;
    border-right-width: 1px;
    background-color: #d7dcda;
    width: 600px;  
}

.testimonial__btn--link:hover{
    transform: scale(2.5);
    background-color: #d7dcda; 
}

#getstart {
    padding: 96px 0;
    width: 100%;
    margin:24px auto;
     max-width: 1024px;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstart__row {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getstart__lit {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2; 
}

.getstart__header {
    text-align: center;
    width: 100%;
    max-width: 650px;
    margin-right: 32px;
}

.getstart__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.getstart__btn--link {
  width: 200px;
  color: white;
  box-shadow:  rgb(63, 54, 54);
  margin-right: 38px;
  margin-bottom: 12px;
  transition: all 300ms ease;
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 24px;
  border: 3px white
 
}
	
.getstart__btn--link:nth-child(1) {
    background: #f56565;    
}

.getstart__btn--link:nth-child(2) {
     background: rgb(89, 30, 209);  
}

#footer {
    width: 100%;
    max-width: 1280px;
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.footer__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.foot__main { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
         
.foot__main--title {
    font-weight: 700;
    color: #f7fafc;
    margin-bottom: 16px; 
    color: rgb(247, 250, 252);
    line-height: 1.5;
}

.foot__tag {
    width: 100%;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    background-color: rgb(100, 21, 255);
    
}

.foot__tag:hover{
    display: inline;
    text-decoration: none;       
}

.foot__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0px;
    background: rgb(116, 44, 255);
}

.footer__row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.foot__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot__logo--wrapper {
    width: 30px;
    height: 30px;
    color:#7342d6;
    background: white;
}

.foot__logo--text {
    font-size: 20px;
    color: rgb(247, 250, 252);
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}


.foot__copyright {
    color: rgb(162, 165, 169);
    font-weight: 500;
}

.foot__icon {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

.foot__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 992px) {
    
    .navchk, 
    .toggle__nav   {
      display: block; 
      }  

        .nav__link { 
           justify-content: start; 
           flex-direction: column;
           align-items: center;
           position: fixed;  
           top: 0;
           right: -300px;
           background: #ececef;
           width: 300px;
           height: 600px;
           padding-top: 65px;    
        }

        .nav__link li a,
        .nav__link li a:hover {
            padding: 20px;
            width: 100%;
            font-size: 24px;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03) inset;
        } 

        .header {
            padding: 10px 20px;
        }   

        .nav__link li {
            width: 100%;
        }

      } 



@media screen and (max-width: 768px) {
         
      .landing__row {
          max-width: 760px;
          transform: scale(.8); 
      }

        .landing, .features__row, .desdev__row,
         .desdev_desc, .getstarted__desc,
         .getstarted__desc, .getstarted__list,
         .getstart__row, .getstarted__colstep,
           .get__register
               {  
          display:flex;
          flex-direction: column;   
        }
        .features__row {
          align-items: center;
        }
        .desdev__row {
          justify-items: center;
          align-items: center; 
                   } 
        .desdev_desc {
          justify-content: center;
          align-items: center; 
        } 
         .getstarted__desc {
          justify-content: center;
          align-items: center;
         }
         .getstarted__row {
          flex-direction: column;
          justify-items: center;
          align-items: center;
          margin-left: 24px;
        } 
        .getstarted__heading {
          font-size: 40px;;
          text-align: center;
        }
        .get__register {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .get__font--h1 {
          font-size:  40px;
        }
        .getstarted__colstep {  
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .getstarted__list {
          flex-direction: column;
          justify-content: center;
          align-items: center; 
        }  
        .get__step--para {
          width: 250px;
          text-align: center;
        } */
        .getstarted_img--wrapper {
          transform: scale(.5); 
        }
        
        .values__row {
          transform: scale(.8); 
          flex-direction: column;
          align-items: center;
        }
        .pricing__plans {
          flex-direction: column;
          align-items: center;
        }
        .pricing__title {
          font-size: 40px;
        }
        .pricing__header--para {
          font-size: 16px;
          text-align: center;
        }

        .testimonial__row {
          flex-direction: column;
          align-items: center;
        }
        .testimonial__title {
          font-size: 40px;
        }
        .getstart__row {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin: 0 auto;
        }
        .getstart__buttons {
          flex-direction: column;
          justify-content: center;
          margin-bottom: 40px;
        }
        .footer__row1 {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
        }
        .footer__row2 {
          flex-direction: column;
          gap: 24px;
          align-items: center;
        }

}


